<html>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
  <style>
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  input {text-align: center;}
  b {color: #ef0101;}
  body {
    background-image: url("https://media.cntraveler.com/photos/5d112d50c4d7bd806dbc00a4/master/pass/airbnb%20luxe.jpg");
    background-color: #cccccc;
  }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
  <title>Makers BNB</title>
  </head>
  <body>
    <div id="image"></div>
      <div class="row">
        <div class="col-md-6 mx-auto"><h2 style="color: Dark; padding: 30px;">Makers BNB</h1>
        </div>
        <div class="col-md-6 mx-auto">
        <br>
          <div style="width: 100%;">
            <div style="display: inline-flex;">
              <h4 style="padding: 10px;"><a href="/login">Login</a></h4>
              <h4 style="padding: 10px;"><a href="/spaces">Spaces</a></h4>
            </div>
          </div>  
        <br>
      </div>
      <div class="row">
      <h1 style="color: Tomato;">DISCOVER YOUR<br>LITTLE PIECE OF ZEN</h1>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form style="margin: auto; width: 220px;" action='/login' method="post">
          <br>
          <div>
            <label for="first_name_id"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="first_name" required>
            <br>
            <br>
            <label for="last_name_id"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="last_name" required>
            <br>
            <br>
            <label for="email_id"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <br>
            <br>
            <label for="username_id"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <br>
            <label for="password_id"><b>Password</b></label>
            <input type="text" placeholder="Enter Password" name="password" required>
            <br>
            <br>
            <input type="submit" value="Sign Up" />
          </div>
          </form> 
        </div>  
      </div>
      <div class="row">
      <div>
        <br>
        <br>
        <p>Powered by Budds, Raisin, Alimi, Evans & Johnson</p>
      </div>
      </div>  
    </div>
  </body>
</html>


