<form action='/login' method="post">
  <div>
    <label for="first_name_id"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="first_name" required>
    <br>
    <label for="last_name_id"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="last_name" required>
    <br>
    <label for="email_id"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label for="username_id"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="password_id"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" required>
    <input type="submit" value="Sign Up" />
    
  </div>
</form> 