<form>
  <div>
    <label for="first_name_id"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="first_name" required>

    <label for="last_name_id"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="last_name" required>

    <label for="email_id"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="username_id"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password_id"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" required>

    <a href="/login">
          <input type="button" value="Sign Up" />
    </a>
  </div>
</form> 