<html>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
  <style>
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  input {text-align: center;}
  b {color: #ef0101;}
  body {
    background-image: url("https://news.airbnb.com/wp-content/uploads/sites/4/2018/12/Pool.jpg?fit=2500%2C1665");
    background-color: #cccccc;
  }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
  <title>Makers BNB</title>
  </head>
  
  <body>

  <div class="row">
    <div class="col-md-6 mx-auto"><h2 style="color: Dark; padding: 30px;">Makers BNB</h1>
    </div>
      <div class="col-md-6 mx-auto">
      <br>
        <div style="width: 100%;">
          <div style="display: inline-flex;">
            <h4 style="padding: 10px;"><a href="/spaces">Spaces</a></h4>
          </div>
        </div>  
        <br>
      </div>
  </div>
  <div class="row">
  <h1 style="color: Tomato;">Please login</h1>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
  <form style="margin: auto; width: 300px;">
  
    <label for="username_id"><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="username_id" required>
    <button type="reset" value="reset" class="cancelbtn">Clear</button>
    <br>
    <br>
    <label for="password_id"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="password_id" required>
    <button type="reset" value="reset" class="cancelbtn">Clear</button>
    <br>
    <br>
    <a href="/login_confirmation">
          <input type="button" value="Login" />
      </a>
      <br>
     <label>
      <input type="checkbox" checked="checked" name="remember">  Remember me
    </label> 


  <div>
    
    <a href="#">Forgot password?</a>
  </div>
</form> 
<div class="row">
<div>
  <br>
<br>
<p>Powered by Budds, Raisin, Alimi, Evans & Johnson</p>
</div>
</div>
</div>
</div>
</body>
</html>

