<form action="/spaces" method="post">
  <input type="text" name="space_name" />
  <input type="text" name="description" />
  <input type="number" name="price_per_night" step=".02" />
  <input type="submit" value="List my space" />
</form>